* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #404040;
    background-image: url("../src/fundo_login.jpg");
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

h1 {
    padding-bottom: 60px;
    font-size: 2.6em;
    text-align: center;
}

input {
    display: block;
    margin: auto;
    background-color: rgba(169, 169, 169, 0);
    border: 1px solid rgb(83, 83, 83);
    padding: 20px;
    border-radius: 50px;
    text-align: center;
}

::placeholder {
    text-align: center;
    color: black;
}

div {
    width: max-content;
    margin: auto;
    margin-top: 10vw;
    padding: 70px 50px;
    border-radius: 25px;
    background-color: #3a3a3a2f;
}