@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Comfortaa:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Pacifico&family=Press+Start+2P&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --cor1: #171b25;
    --cor2: #202a5c;
    --cor3: #556ce0;
    --cor4: #9fa2af;
    --cor5: #dceaff;

    --fonte1: 'Atma', cursive;
    --fonte2: 'Comfortaa', cursive;
    --fonte3: 'Oswald', sans-serif;
    --fonte4: 'Pacifico', cursive;
    --fonte5: 'Press Start 2P', cursive;
    --fonte6: 'Raleway', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: var(--cor5);
}

div {
    /* border: 1px solid black; */
    max-width: 700px;
    height: max-content;
    margin: auto;
    margin-top: 3.5%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.199);
    border-radius: 20px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: var(--fonte6);
}

p {
    text-indent: 2%;
    line-height: 25px;
    font-family: var(--fonte2);
    text-align: center;
    padding: 20px;
}